
.btn {
  font-family: $font-base;
  color: $color-dark;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.60);

  &:visited, &:hover, &:active {
    color: inherit;
  }


  &-small {
    font-size: 1.3rem;
    color: $color-dark;
    padding: 10px 9px;
    border: 1px solid transparent;
    margin-left: 5px;
    &:hover{
      border: 1px solid $color-yellow;
    }
    &:active{
      transform: translateY(4px);
    }
  }

  &-big {
    font-family: $font-base;
    font-size: 2.6rem;
    line-height: 3.0rem;
    font-weight: 300;
    width: 170px;
    height: 80px;
    border: 1px solid $color-lightgrey;
    text-transform: uppercase;
    text-align: center;
    padding: 0 30px;
    margin: 10px 0;
    &:hover{
      border: 1px solid $color-dark;
    }
    &:active{
      transform: translateY(4px);
    }

    @include desktop {
      margin: 0;
    }
  }

  &-noBorder {
    border: 1px solid transparent;
  }

  &-border {
    border: 1px solid $color-dark;
  }
}

.decoration {
  width: 200px;
  margin: 10px 20px;
}
.logError{
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
}
.firebaseError{
  position: absolute;
  bottom: 15px;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  margin-top: 5px ;
  color: red;

  text-align: center;
}
.formError{
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
}

.backgroundFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.60);
  min-height: 100vh;
  width: 100%;
  @include desktop {
    align-items: flex-end;

  }

}

