
.btn{
  font-family: $font-base;
  color: $color-dark;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:visited, &:hover, &:active{
    color: inherit;
  }

  &-small {
    font-size: 1.3rem;
    color: $color-dark;
    padding: 10px 9px;
    border: 1px solid $color-yellow;
  }
  &-big{
    font-family: $font-base;
    font-size: 2.6rem;
    font-weight: 300;
    width: 170px;
    height: 90px;
    border: 1px solid $color-dark;
    text-transform: uppercase;
    text-align: center;
    padding: 0 30px;
  }
}

.decoration{
  width: 150px;
  margin: 10px 20px;
}
