
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  z-index: 2;

  @include desktop {
    margin-right: 90px;
  }


  .logIn {
    display: none;
    margin: 37px 0 17px;
    @include desktop {
      display: flex;
      align-items: center;
    }
  }

  .logInMobile {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
    @include desktop {
      display: none;
    }

    .main__userEmail {
      font-size: 2.0rem;
      color: $color-yellow;
    }

    .buttonsMobile__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }

    .btn-mobile {
      padding: 20px 10px;
      width: 140px;
      margin: 0;
      font-size: 1.8rem;
      font-weight: 600;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid $color-yellow;
      }

      &:active {
        background-color: lightgoldenrodyellow;
      }

      &:visited {
        border: inherit;
      }

    }

    .main__userEmail {
      margin: 0;
      text-align: center;

    }
  }

  &__userEmail {
    font-family: $font-base;
    color: $color-dark;
    font-size: 1.3rem;
    margin-right: 20px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: -100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    @include desktop {
      position: static;
      display: flex;
      width: unset;
      flex-direction: row;
      height: 42px;
      margin-left: 10px;
      margin-top: 20px;
      background-color: transparent;
      transition: all 0.5s ease;

    }

    &__active {
      display: flex;
      right: 0;
      transition: all 0.5s ease;
    }

    &__element {
      color: $color-dark;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include desktop {
        margin-left: 10px;
        color: $color-dark;
        font-size: 1.8rem;
      }
    }

    &__link {

      height: 42px;
      cursor: pointer;
      box-sizing: border-box;
      border: 1px solid transparent;
      padding: 9px 20px;
      width: 100vw;
      text-align: center;

      &:visited {
        color: inherit;
      }

      @include desktop {
        width: unset;
        text-align: start;
      }

      &:hover {
        @include desktop {
          border: 1px solid $color-dark;
        }
      }
    }
  }
}

.menu-icon {
  margin: 30px 30px 0 0;
  cursor: pointer;
  @include desktop {
    display: none;
  }

  .icon {
    font-size: 3.0rem;
  }
}


