.formSummary {
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 100px;
  @include tablet{
    padding: 50px 0 30px;
  }
  @include desktop{
    padding: 50px 0 0;
  }

  .container {
    @include tablet(400px) {
      max-width: 350px;
    }
    @include tablet {
      max-width: 550px;
    }
    @include desktop {
      max-width: 1200px;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 40px;
  }

  &__subtitle {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 0 20px;
  }

  &__tableData {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin: 0 0 20px;
    vertical-align: middle;
    padding: 5px 0 5px 20px;

    &-title {
      width: 100px;
      padding-left: 0;

    }
  }

  &__tableRow {
    height: 40px;
    padding: 5px 0;
  }

  &__giveAway {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__info {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__icons {
    width: 40px;
    height: auto;
    margin-right: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: space-between;
    margin-top: 20px;
    @include tablet {
      flex-direction: row;
      margin-top: 40px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 300px;
    margin-top: 20px;
    max-width: 335px;
    @include desktop {
      margin-right: 50px;
      margin-top: 0;
    }
  }

  &__radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .customRadio {
      background-color: $color-yellow;
    }
  }

  &__buttons {
    display: flex;
    position: absolute;
    bottom: 40px;
    //margin-top: 100px;
  }

  &__btn {
    margin-right: 15px;
    min-width: 80px;
    padding-right: 20px;
    padding-left: 20px;

  }
}

